---
import styles from './SectionBannerContainer.module.scss';
import Button from "../../Button/Button.astro";
---
<section class={styles.sectionBannerSecondary}>
    <div class={styles.sectionBannerSecondary__container}>
        <h3>Experiência e profissionalismo a seu favor</h3>
        <Button href="/contato">Fale com nossos especialistas</Button>
    </div>
</section>