---
import styles from './SectionBannerHero.module.scss';
import Button from "../../Button/Button.astro";
---
<section class={styles.sectionBannerHero}>
    <h1>Advocacia Especializada</h1>
    <p>Atuamos com ética, excelência e compromisso na defesa dos interesses de nossos clientes.</p>
    <Button href="/contato">Fale com nossos especialistas</Button>
</section>