@use './_color.scss' as color;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: color.$primary;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trirong', serif;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

span {
  font-size: 16px;
}

nav a {
  color: color.$light;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  &:hover {
    color: color.$accent;
  }
}

footer {
  font-size: 1rem;
}
