---
import "../styles/global.scss";
import styles from './about.module.scss';
import Layout from '../layouts/Layout.astro';
import SectionAboutUsSecondary from '../components/Sections/SectionAboutUsSecondary/SectionAboutUsSecondary.astro';
import SectionCardTopics from '../components/Sections/SectionCardTopics/SectionCardTopics.astro';
import SectionBannerContainer from "../components/Sections/SectionBannerContainer/SectionBannerContainer.astro";
import SectionTeam from "../components/Sections/SectionTeam/SectionTeam.astro";
---

<Layout>
  <main class={styles.main}>
    <SectionAboutUsSecondary />
    <SectionTeam />
    <SectionCardTopics />
    <SectionBannerContainer />
  </main>
</Layout>
