---
import "../styles/global.scss";
import styles from './about.module.scss';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class={styles.main}>
    <h1>Sobre Nós</h1>
    <p>Somos um escritório de advocacia comprometido com a excelência, ética e resultados para nossos clientes. Nossa equipe é formada por profissionais experientes e dedicados.</p>
  </main>
</Layout>
