---
import "../styles/global.scss";
import Layout from '../layouts/Layout.astro';
import SectionAboutUs from '../components/Sections/SectionAboutUs/SectionAboutUs.astro';
import SectionAreas from '../components/Sections/SectionAreas/SectionAreas.astro';
import SectionBannerContainer from '../components/Sections/SectionBannerContainer/SectionBannerContainer.astro';
import SectionBannerHero from '../components/Sections/SectionBannerHero/SectionBannerHero.astro';
---

<Layout>
  <main class="page-home">
    <SectionBannerHero />
    <SectionAboutUs />
    <SectionAreas />
    <SectionBannerContainer />
  </main>
</Layout>
