---
import styles from './Footer.module.scss';
---
<footer class={styles.footer}>
  <p>&copy; 2025 Escritório de Advocacia. Todos os direitos reservados.</p>
  <p>Contato: contato@advocacia.com.br</p>
</footer>
