@use '../styles/_color.scss' as color;
@use '../styles/_sizes.scss' as sizes;

.header {
  background: color.$primary;
  color: color.$light;
  padding: 2rem 1rem;
  text-align: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sizes.container;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }
}
