---
import styles from './Header.module.scss';
import LogoAdv from './icons/logoAdv.astro';
import Navbar from './Navbar.astro';
---
<header class={styles.header}>
  <div class={styles.header__content}>
    <div class={styles.header__logo}>
      <LogoAdv />
    </div>
    <Navbar className={styles.header__navbar} />
  </div>
</header>
