---
import styles from './Navbar.module.scss';
---
<nav class={styles.navbar}>
  <a href="/">Home</a>
  <a href="/about">Sobre Nós</a>
  <a href="/contact">Contato</a>
  <a href="/blog">Blog</a>
</nav>
